:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  flex-shrink: 0;
}

.app-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  padding-top: 64px;
  box-sizing: border-box;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
